ion-searchbar{
  //position: fixed;
  //margin-top: 2rem;
  //margin-bottom: 2rem
//;
}
.m-2{
  //margin-top: 2rem;
  margin-bottom: 2rem;
  position: fixed;
}
ion-content {
  --background: #fff url("../../../assets/imagenes/imagess.jpg") no-repeat center center / cover;
}