ion-content {
  --background: #fff url("../../../assets/imagenes/imags.jpg") no-repeat center center / cover;
}

.input {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}